{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <form action="" method="POST">
        {{ card_form.hidden_tag() }}

        <p>
            {{ card_form.deck.label }}
            {{ card_form.deck() }}
            <a class="btn btn-primary" role='button' href='{{ url_for("deck.deck_new") }}'>Добавить колоду</a>
        </p>
        <p>
            {{ card_form.side_1.label }}
            {{ card_form.side_1() }}
        </p>
        <p>
            {{ card_form.side_2.label }}
            {{ card_form.side_2() }}
        </p>
        <p>
            {{ card_form.type.label }}
            {{ card_form.type() }}
        </p>
        <p>
            {{ card_form.tags.label }}
            {{ card_form.tags() }}
        </p>
        <p>
            {{ card_form.button() }}
        </p>
</div>
</form>

<div class="d-flex justify-content-center"> <!-- Modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить карточки из файла
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Выбор файла</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Выберете файл в формате xls\xlsx в котром содежатся данные для загрузки.
                        В первой колонке сторона A, во второй колонке сторона B.
                        Первая строка таблицы игнорируется.
                    </p>
                    <form action="{{ url_for("card.load_cards_from_file") }}" method="post"
                        enctype="multipart/form-data">
                        {{ cards_from_file.hidden_tag() }}
                        {{ cards_from_file.file_with_cards.label }}
                        {{ cards_from_file.file_with_cards() }}

                        {{ cards_from_file.deck() }}
                        {{ cards_from_file.type.label }}
                        {{ cards_from_file.type() }}
                        {{ cards_from_file.button()}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}