{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <form action="" method="POST">
        {{ card_form.hidden_tag() }}

        <p>
             {{ card_form.deck.label }}
             {{ card_form.deck() }}
             <a class="btn btn-primary" role='button' href='{{ url_for("deck.deck_new") }}'>Добавить колоду</a>
        </p>
        <p>
            {{ card_form.side_1.label }}
            {{ card_form.side_1() }}
        </p>
        <p>
            {{ card_form.side_2.label }}
            {{ card_form.side_2() }}
        </p>
        <p>
            {{ card_form.type.label }}
            {{ card_form.type() }}
        </p>
        <p>
            {{ card_form.tags.label }}
            {{ card_form.tags() }}
        </p>
        <p>
            {{ card_form.button() }}
        </p>
    </form>

    
</div>

<div class="d-flex justify-content-center">
    <form action="{{ url_for("card.lad_cards_from_file") }}" method="post" enctype="multipart/form-data">
        {{ cards_from_file.hidden_tag() }}
        {{ cards_from_file.file_with_cards.label }}
        {{ cards_from_file.file_with_cards() }}
        {{ cards_from_file.button()}}
    </form>
</div>
    
{% endblock content %}