{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center"> 
    <form action="" method="POST">
        {{ card_form.hidden_tag() }}
        
        <p>
            {{ card_form.side_1.label }}
            {{ card_form.side_1() }}
        </p>
        <p>
            {{ card_form.side_2.label }}
            {{ card_form.side_2() }}
        </p>
        <p>
            {{ card_form.type.label }}
            {{ card_form.type() }}
        </p>
        <p>
            {{ card_form.tags.label }}
            {{ card_form.tags() }}
        </p>
        <p>
           {{ card_form.is_active() }}
           {{ card_form.is_active.label }}
        </p>

        <p>
            {{ card_form.button() }}

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Удалить карточку
            </button>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Вы уверены?
                    После того, как вы удалите карточку весь прогресс по ней сбросится, а информация на ней будет безвозвратно утеряна
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                    {{ card_form.delete_button() }}
                  </div>
                </div>
              </div>
            </div>

        </p>

    </form>
</div>
    


{% endblock content %}

