<!DOCTYPE html>
<html lang="ru">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Ресурс для изучения</title>


</head>
<body>
  <!-- навбар куданибудь сюда -->

  <div class="content">
   <div class="d-flex bd-highlight ">
  <div class="p-2 flex-fill bd-highlight">Шапка 1</div>
  <div class="p-2 flex-fill bd-highlight">Шапка 2</div>
  <div class="p-2 flex-fill bd-highlight"><a href={{ url_for("logout") }}>Выйти</a></div>
  <div class="p-2 flex-fill bd-highlight"><a href={{ url_for("create_card") }}>Создать карточку</a></div>
  <div class="p-2 flex-fill bd-highlight"><a href={{ url_for("login") }}>Login</a></div>
    </div>
    <!-- вывод flash сообщний -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    
      {% block content %} {% endblock %}
    </div>   

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</body>
</html>